/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: 'Inter', sans-serif;
  font-variation-settings: "wght" 400;
  font-size: 18px;
}

.page__background {
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 2px, #d3d3d3 2px, #d3d3d3 4px),
              repeating-linear-gradient(90deg, transparent 0px, transparent 2px, #d3d3d3 2px, #d3d3d3 4px),
              linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 100px auto 100px;
  background-color: white;
  border: 2px solid black;
  block-size: clamp(20.438rem, 14.604rem + 13.99vw, 23rem);
  inline-size: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  font-family: var(--accent-font), sans-serif;
  font-weight: normal;
}

.header__logo {
  font-size: clamp(49px, 65px, 9.5vw);
}

.header__title {
  font-size: clamp(14px, 23px, 4vw);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0;
  inline-size: clamp(23.438rem, 16.285rem + 30.52vw, 43.75rem);
  margin-inline: auto;
  background-color: white;
  border: 2px solid black;
  margin-block: 50px;
}

.main__header {
  padding-block: 3px;
  padding-inline: 10px 24px;
  font-size: 18px;
  border-bottom: 2px solid black;
  font-variation-settings: "wght" 700;
}

.main__image-section {
  position: relative;
}

.main__image {
  width: 100%;
}

.main__image-normal {
  filter: none;
}

.main__image-grayscale {
  filter: grayscale(80%) ;
}

.main__image-saturate {
  filter: saturate(300%);
}

.main__image-hue-rotate {
  filter: hue-rotate(0.1turn);
}

.main__image-invert {
  filter: invert(100%) brightness(70%) contrast(80%);
}

.main__image-sepia {
  filter: sepia(0.9);
}

.main__image-blur {
  filter: blur(30px);
}

.main__image-opacity {
  filter: blur(1px) hue-rotate(0.3turn) contrast(60%) opacity(90%);
}

.main__label {
  opacity: 50%;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
}

@supports not (-webkit-text-stroke: 1px rgba(255, 255, 255)) {
  .main__label {
    text-shadow: 1px 0px 0 rgba(255, 255, 255), -1px 0px 0 rgba(255, 255, 255), 0px 1px 0 rgba(255, 255, 255), 0px -1px 0 rgba(255, 255, 255);
  }
}

@supports (-webkit-text-stroke: 1px rgba(255, 255, 255)) or (text-stroke: 1px rgba(255, 255, 255)) {
  .main__label {
    -webkit-text-stroke: 1px rgba(255, 255, 255);
    text-stroke: 1px rgba(255, 255, 255);
  }
}

.main__information {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-top: 2px solid black;
}

.main__information-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 21px;
}

.button {
  padding: 0;
  background-color: white;
  border: 2px solid black;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}


.card__button {
  display: flex;
  align-self: flex-end;
  gap: 5px;
}

.card__icon-button {
  display: flex;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.card__save-button {
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 15px 20px;
}

.card__save-button__icon {
  fill: white;
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

.card__ok-button {
  padding: 9px 17px;
}

.button__text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  color: white;
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

.dialog__window[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border: 2px solid black;
}

.dialog__window-info {
  display: flex;
  gap: 20px;
}

.dialog__window-text {
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 150%;
  width: 234px;
  text-transform: uppercase;
}

.dialog__floppy_icon {
  align-self: center;
}

dialog::backdrop {
  background: black;
  opacity: 75%;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 black;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: black;
}

.button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
  height: 100%;
  width: 0;
  transition: 0.5s ease-in-out;
}

.button:hover::after {
  width: 100%;
}

.sparks {
  opacity: 0;
}

.main-body {
  transition: fill 0.3s linear;
  fill: transparent;
}

.core {
  transition: fill 0.3s 0.03s linear;
  fill: transparent;
}

.contour {
  transition: fill 0.1s linear;
  fill: var(--heart-color-contour);
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
  fill: var(--heart-color-contour);
}

.like-icon:hover .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--heart-color-contour);
}

.like-icon:active .core {
  transition: fill 0.3s linear;
  fill: var(--heart-color-sparks);
}

.like-icon:active .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--heart-color-sparks);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--heart-color-sparks);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--heart-color-sparks);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
  fill: var(--heart-color-sparks);
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: heart-sparks 0.3s 0.3s ease-in;
}

@media (width <= 375px) {
  .header__logo {
    font-size: 49px;
  }
  
  .header__title {
    font-size: 14px;
  }

  .header {
    width: 100vw
  }

  .main {
    inline-size: 100vw;
  }

  .main__label {
    right: 13px;
  }

  .card__save-button {
    flex-direction: column;
  }

  .card__save-button__icon {
    width: 28px;
    height: 28px;
  }

  .dialog__window[open] {
    padding: 30px 40px;
    max-width: 341px;
  }

  .dialog__window-text {
    max-width: 198px;
  }
}